*.bak
*.lo
*.la
*.o
*.gir
*.typelib
*~
*.stamp
.*.sw[nop]
*.gcov
.deps
.libs
Makefile
Makefile.in
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.rpath
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/examples/general
/gnome-doc-utils.make
/gtk-doc.make
/INSTALL
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libgit2-glib-1.0.pc
/libgit2-glib-*.tar.bz2
/libtool
/ltmain.sh
/m4
/missing
/mkinstalldirs
/omf.make
/po/*.header
/po/*.gmo
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/py-compile
/so_locations
/stamp-h1
/tests/repository
/xmldocs.make
