/html
/tmpl
/xml
/libgit2-glib-1.0-decl-list.txt
/libgit2-glib-1.0-decl.txt
/libgit2-glib-1.0-overrides.txt
/libgit2-glib-1.0-undeclared.txt
/libgit2-glib-1.0-undocumented.txt
/libgit2-glib-1.0-unused.txt
/libgit2-glib-1.0.args
/libgit2-glib-1.0.hierarchy
/libgit2-glib-1.0.interfaces
/libgit2-glib-1.0.prerequisites
/libgit2-glib-1.0.signals
/version.xml
/*.stamp
